@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

input,
select,
textarea {
    //border: none;
    border: 1px solid gray;
    background-color: white;
    border-radius: 0.25rem;
    padding: 10px;
}
